/* 页脚心跳动画 */
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heart-icon {
    color: red;
    font-size: 18px;
    animation: heartbeat 1s infinite;
  }


  /* 下雪样式 */
:root {
    --fall-height: 105vh;
}
.snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(var(--fall-height));
  }
} 